apiVersion: v1
kind: ConfigMap
metadata:
  name: openhim-console-config
  namespace: {{ .Values.global.namespace }}
data:
  default.json: |
    {
        "version": "1.10.0",
        "minimumCoreVersion": "3.4.0",
{{- if eq .Values.cluster_type "eks" }}
        "protocol": "https",
        "host": "{{ .Values.ingress.openhimCoreHost }}",
        "port": 443,
{{- else }}
        "protocol": "{{ .Values.openhim.console.config.protocol }}",
        "host": "{{ .Values.openhim.console.config.host }}",
        "port": {{ .Values.openhim.console.config.port }},
{{- end }}
        "title": "Admin Console",
        "footerTitle": "OpenHIM Administration Console",
        "footerPoweredBy": "<a href='http://openhim.org/' target='_blank'>Powered by OpenHIM</a>",
        "loginBanner": "",
        "mediatorLastHeartbeatWarningSeconds": 60,
        "mediatorLastHeartbeatDangerSeconds": 120
    }
