services:
  mediator:
    build:
      context: ../mediator
      dockerfile: ./Dockerfile
    container_name: mediator
    ports:
      - "6000:6000"
    env_file:
      - ../.env
    environment:
      - DOCKER_ENV=true
    depends_on:
      - configurator
    restart: 'unless-stopped'
    networks:
      - cht-net
    
  configurator:
    build:
      context: ../
      dockerfile: ./configurator/Dockerfile
    env_file:
      - ../.env
    environment:
      - DOCKER_ENV=true
    networks:
      - cht-net

networks:
  cht-net:
    name: ${CHT_NETWORK:-cht-net}
