OPENHIM_USERNAME = "root@openhim.org"
OPENHIM_PASSWORD = "password"
OPENHIM_API_URL = "https://openhim-core:8080"
PORT = 600
FHIR_URL = http://openhim-core:5001/fhir
FHIR_USERNAME = interop-client
FHIR_PASSWORD = interop-password
CHT_URL = http://localhost:5988
CHT_USERNAME = admin
CHT_PASSWORD = password
