COUCHDB_USER=admin
COUCHDB_PASSWORD=password
OPENHIM_API_URL=https://openhim-core:8080
OPENHIM_PASSWORD=openhim-password
OPENHIM_USERNAME=root@openhim.org
OPENHIM_CLIENT_PASSWORD=interop-password
OPENHIM_USER_PASSWORD=interop-password
