name: Test

on: [push, pull_request]

jobs:
  unit:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16.x
      - name: Mediator unit tests
        working-directory: ./mediator
        run: |
          npm install
          npm run unit-test
